body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    background: #f0f0f5;
    color: #333;
}
header {
    background-color: #113ccf;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    background-color: #ffd500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}
nav a {
    color: #000; /* Cor original do texto */
    background-color: transparent; /* Fundo transparente */
    border-radius: 5px;
    text-decoration: none; /* Remover sublinhado */
    transition: background-color 300ms, color 300ms; /* Transição suave */
    padding: 2px 8px; /* Manter o padding para evitar mudança no layout */
}
nav a:hover {
    color: #113ccf; /* Cor do texto ao passar o mouse */
    background-color: #fff; /* Cor do fundo ao passar o mouse */
}
main {
    max-width: 800px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #113ccf;
    color: white;
    margin-top: 2rem;
}
form {
    margin-top: 2rem;
}
.countdown {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
    color: #cc0000;
}
.links-uteis {
    margin-top: 2rem;
}

.links-uteis a {
    display: inline-block;
    margin: 0.5rem 0;
    color: #113ccf; /* Cor original do texto */
    background-color: transparent; /* Fundo transparente */
    text-decoration: none; /* Remover sublinhado */
    border-radius: 5px; /* Para bordas arredondadas */
    transition: background-color 300ms, color 300ms; /* Transição suave */
    padding: 2px 8px; /* Para garantir o tamanho do link */
}

.links-uteis a:hover {
    color: #fff; /* Cor do texto ao passar o mouse */
    background-color: #113ccf; /* Cor do fundo ao passar o mouse */
}



