body {
    font-family: 'Noto Serif', serif;
    background-color: #f4f4f4; 
    color: #333; 
}
h1, h2, h3, h4, p, a {
    font-family: 'Noto Serif', serif;
}
header {
    background-color: #113ccf; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    border-radius: 10px; 
}
.sidebar {
    flex: 1;
    max-width: 250px;
    padding: 10px;
    background-color: #eaeaea;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar a {
    display: inline-block;
    padding: 2px 8px;
    color: #113ccf;
    text-decoration: none;
    transition: background-color 300ms, color 300ms;
}
.sidebar a:hover {
    color: #fff;
    background-color: #113ccf;
    border-radius: 5px;
}
.fotos {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.imagem-item {
    width: 48%;
    margin-bottom: 20px;
}
.imagem-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.imagem-item h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
.rodape {
    background-color: #113ccf;
    color: white;
    text-align: center;
    padding: 20px;
}
.rodape ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.rodape li {
    display: inline-block;
}
.rodape img {
    width: 40px;
    height: auto;
}
@media (max-width: 768px) {
    .imagens {
        flex-direction: column;
        gap: 10px; 
    }

    .imagem-item {
        width: 100%; 
        margin-bottom: 15px; 
    }

    header {
        padding: 15px; 
    }

    .rodape {
        padding: 15px; 
    }

    .sidebar {
        max-width: 100%; 
        margin-bottom: 20px; 
    }
}
