/* Defina a fonte para o corpo todo da página */
body {
    font-family: 'Noto Serif', serif;
    background-color: #f4f4f4; /* Cor de fundo */
    color: #333; /* Cor do texto */
}

/* Aplique a mesma fonte para os títulos e outros elementos */
h1, h2, h3, h4, p, a {
    font-family: 'Noto Serif', serif;
}


/* Cabeçalho */
header {
    background-color: #113ccf; /* Cor de fundo azul */
    color: white; /* Cor do texto (branco) */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
    border-radius: 10px; /* Bordas arredondadas */
}


/* Sidebar */
.sidebar {
    flex: 1;
    max-width: 250px;
    padding: 10px;
    background-color: #eaeaea;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: inline-block;
    padding: 2px 8px;
    color: #113ccf;
    text-decoration: none;
    transition: background-color 300ms, color 300ms;
}

.sidebar a:hover {
    color: #fff;
    background-color: #113ccf;
    border-radius: 5px;
}

/* Seção de Fotos */
.fotos {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.imagem-item {
    width: 48%;
    margin-bottom: 20px;
}

.imagem-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem-item h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* Rodapé */
.rodape {
    background-color: #113ccf;
    color: white;
    text-align: center;
    padding: 20px;
}

.rodape ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rodape li {
    display: inline-block;
}

.rodape img {
    width: 40px;
    height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .imagens {
        flex-direction: column;
    }

    .imagem-item {
        width: 100%;
    }
}
