* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Serif', serif;
    background-color: #f4f4f4;
    color: #333;
}
h1, h2, h3 {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #113ccf;
    display: inline-block; 
    padding: 2px 8px; 
    transition: background-color 300ms, color 300ms; 
}
a:hover {
    color: #fff; 
    background-color: #113ccf; 
    border-radius: 5px; 
}
header {
    background-color: #113ccf;
    color: white;
    padding: 20px;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.sidebar {
    flex: 1;
    max-width: 250px;
    padding: 10px;
    background-color: #eaeaea;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar li {
    margin-bottom: 10px;
}
.contact-info {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-info ul {
    list-style-type: none;
    margin-top: 10px;
}
.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-info img {
    margin-right: 10px;
}
.contact-info span {
    font-size: 16px;
}
.author-info {
    margin-top: 40px;
    text-align: center;
}
.photo-container {
    margin-bottom: 10px;
}
.author-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #113ccf; 
}
.author-name {
    font-size: 18px;
    font-weight: bold;
    color: #113ccf;
}
footer {
    background-color: #113ccf;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contact-info {
        margin-left: 0;
    }

    .contact-info ul li {
        flex-direction: column;
        align-items: flex-start;
    }
}